@media (max-width: 1100px) {
    .subtitle::before {
        display: none;
    }

    .subtitle {
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    .banner-text {
        margin-block: 30px;
    }

    .description {
        font-size: 20px;
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .banner-text {
        margin-block: 20px;
    }

    .top-info {
        top: 0 !important;
        left: 0 !important;
        border-radius: 0;
        padding: 35px 25px;
    }

    .bottom-info {
        bottom: 0 !important;
        right: 0 !important;
        border-radius: 0;
        padding: 35px 25px;
    }

    .description {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .contact-title {
        font-size: 40px;
    }

    .contact-text {
        margin-top: 50px;
    }

    .contact-form {
        padding: 25px 30px;
    }
}

@media (max-width: 650px) {

    .top-info,
    .bottom-info {
        padding: 25px 15px;

    }

    .contact-title {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    .info-count {
        font-size: 30px;
    }

    .info-text {
        font-size: 16px;
        margin-bottom: 0;
    }

    .contact-title {
        font-size: 35px;

    }

    .contact-text {
        margin-top: 30px;
        font-size: 20px;
    }

    .contact-form {
        padding: 20px;
    }

}

@media (max-width: 500px) {

    .top-info,
    .bottom-info {
        padding: 10px;
    }

    .info-count {
        font-size: 20px;
    }

    .info-text {
        font-size: 14px;
        width: 150px;
    }
}